html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: ;
}

.content {
  flex: 1;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: sticky;
  bottom: 0;
  background-color: lightgrey; /* Set the background color for the whole footer container */
}

.social-icons {
  margin-bottom: 10px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px; /* Update the margin values to add space between the icons */
  font-size: 30px; /* Adjust the font size to make the icons bigger */
  color: black; /* Set the color to black */
}

.footer-text {
  margin-top: 10px;
}

