html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #d7d9ce;
}

.content {
  flex: 1;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #0c7489; /* Set the background color for the navigation bar */
}

.nav-link {
  text-decoration: none;
  color: #d7d9ce;
  padding: 10px 20px;
}

.nav-link:hover {
  background-color: #13505b;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: sticky;
  bottom: 0;
  background-color: #0c7489; /* Set the background color for the whole footer container */
}

.social-icons {
  margin-bottom: 10px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px; /* Update the margin values to add space between the icons */
  font-size: 30px; /* Adjust the font size to make the icons bigger */
  color: #d7d9ce; /* Set the color to black */
}

.footer-text {
  margin-top: 10px;
}
